.viewBoxer__Header {
    display: flex;
    height: 25vh;
    min-height: 200px;
    background-size: cover;
    justify-content: center !important;
}

.viewBoxer__ModalHeader {
    border-bottom: none !important;
}

.viewBoxer__titleName {
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 3px 20px;
}

.viewBoxer__titleName > h1 {
    font-weight: 600;
    font-size: 70px;
    color: white;
}

.viewBoxer__data {
    display: flex;
    justify-content: space-between;
}

.viewBoxer__dataLeft {
    width: 50%;
    text-align: left;
    margin-left: 60px;
}

.viewBoxer__dataRight {
    width: 50%;
    text-align: right;
    margin-right: 60px;
}

.viewBoxer__dataRight > h4 {
    margin-top: 4px;
}

.viewBoxer__dataLeft > h4 {
    margin-top: 4px;
    margin-bottom: 0;
}

.viewBoxer__info {
    height: 40vh;
    min-height: 200px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 121, 121);
}

.viewBoxer__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.viewBoxer__footer_leftside {
    display: flex;
    justify-content: space-between;
    width: 40%;
    /* background-color: blue; */
}

.watch_fight_button {
    position: relative;
    /* left: -30px; */
}

.fight_video_single_row {
    display: flex;
    /* padding: 0 20px; */
    /* justify-content: space-around; */
    align-items: center;
    height: 100px;
    /* margin-bottom: 40px; */
}

.fight_number {
    flex: .075;
}

.fight_video_container {
    width: 90%;
    font-weight: bold;
    font-size: larger;
}

.fight_youtube_thumbnail_container {
    flex: .3;
}

.fight_youtube_thumbnail {
    border-radius: 10px;
    overflow: hidden;
    height: 100px;
    width: 180px;
}

.fight_info {
    /* position: relative;
    left: -80px; */
    flex: .6;
}

.fight_date {
    font-size: medium;
    font-weight: 500;
}

.fight_watched {
    height: 100% !important;
    display: flex;
    align-items: center;
}

.form-check-input {
    margin: 0 !important;
}

.fight_watched_checkbox {
    display: flex !important;
    align-items: center !important;
}

.form-check-input:focus {
    border-color: #ff4444 !important;
    outline: 0;
    box-shadow: 0 0 0 0.20rem #ff444449 !important;
}

.form-check-input:checked {
    background-color: #ff4444 !important;
    border-color: #ff4444 !important;
}