.app__body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app_home {
    min-height: 100vh !important;
}

.app {
    height: 100vh !important;
}